*{
    margin: 0;
    padding: 0;
}
body{
    height: 100%;
    width: 100%;
    background-color: #277ac7;
}
#navbar{
  position: relative;
  display:flex;
  align-items: center;
  top: 0;
  background-color: rgb(74, 104, 235);
}
#logo{
  margin: 10px 34px;
}
#logo img{
    height: 65px;
    margin: 3px 6px;
    border-radius: 15px;
}
#logo img:hover{
   
}
#navbar ul{
    display: flex;
}
#navbar::before{
content: "";
position: absolute;
height: 100%;
top: 0px;
left: 0px;
width: 100%;
z-index: -1;
opacity: 0.5;
}
#navbar ul li{
    list-style:none;
    font-size: 1.3rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 500;
}
#navbar ul li a{
    font-size: large;
    color: rgb(230, 233, 236);
    display: block;
    padding: 3px 30px;
    margin-left: 50px;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
}
#navbar ul li a:hover{
    border: 1px solid white;
    border-radius: 5px;
    color: #1613e6;
}
.index img{
    height: 825px;
    width: 100%;
}
#home{
    display: flex;
    flex-direction: column;
    padding: 3px 200px;
    height: 425px;
    justify-content: center;
    align-items: center;
}
#home::before{
content: "";
background:url("img/pexels-lukas-574077\ \(1\).jpg") no-repeat center center/cover;
position: absolute;
margin-top: 88px;
height: 80%;
top: 0px;
left: 0px;
width: 100%;
z-index: -1;
opacity: 0.9;
}
#home h1{
    text-transform:unset;
    color: rgb(18, 21, 199);
    font-weight: 600;
    font-size: 1.8rem;
    text-align: center;
}
#home p{
    text-align: center;
    color: rgb(225, 232, 238);
    word-spacing: 1px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-top: 10px;
}
footer{
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  background: rgb(74, 104, 235);
}
footer .content{
  max-width: 1350px;
  margin: auto;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
footer .content p,a{
  color: #fff;
}
footer .content .box{
  width: 33%;
  transition: all 0.4s ease;
}
footer .content .topic{
  font-size: 22px;
 font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: 600;
  color: #fff;
  margin-bottom: 16px;
}
footer .content p{
  text-align:justify;
}
footer .content .lower .topic{
  margin: 24px 0 5px 0;
}
footer .content .lower i{
  padding-right: 16px;
}
footer .content .media-icons a{
  font-size: 16px;
  height: 45px;
  width: 45px;
  display: inline-block;
  text-align: center;
  line-height: 43px;
  border-radius: 5px;
  border: 2px solid #222222;
  margin: 30px 5px 0 0;
  transition: all 0.3s ease;
}
.content .media-icons a:hover{
  border-color: #0a06eb;
}

.lower a{
    text-decoration: none;
}
footer .bottom{
  width: 100%;
  text-align: center;
  color: #d9d9d9;
  padding: 0 40px 5px 0;
}
footer .bottom a{
  color: #e0e0eb;
  text-decoration: none;
  font-weight: 600;
}
footer a{
    transition: all 0.3s ease;
}
footer a:hover{
    color: #0a06eb;
}
/*About page css */
.container{
    position: relative;
    width: 100%;
    margin: 10px 0px 0px 75px;
    max-width: 90%;
    min-height: 485px;
    background-color: rgb(44, 133, 185);
    display: grid;
    grid-template-columns: 1fr 2fr;
    border-radius: 10px;
    box-shadow: 0 35px 55px rgba(0, 0, 0,1 );
}
.container .left_side{
    padding: 40px;
    position: relative;
    background-color: #6f8ef5;
    opacity: 1;
}
.container .right_side{
    padding: 40px;
    position: relative;
    background-color: #3841c9;
}
.profiletext{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
}
.profiletext .imgbox{
    position: relative;
    height:100%;
    width: 100%;
}
.profiletext .imgbox img{
    position: absolute;
    top: 0px;
    left: 0px;
    margin-left:40px;
    width: 300px;
    height: 430px;
    border-radius: 30px;
    object-fit: cover;
}
.about h2{
    color: #d9d9d9;
    font-family: Arial, Helvetica, sans-serif;
    text-transform:uppercase;
    font-weight: 600;
    font-style:inherit;
}
.about p{
    color: #e0e0eb;
    word-spacing: 1px;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   font-weight: 600;
}
.about .thanks{
    margin-top:40px;
    margin-left: 400px;
}
.fa{
    background-color: yellow;
}

@media (max-width:1100px) {
    #nabar{
        padding-left: 50px;
    }
    footer .content .middle{
      padding-left: 50px;
    }
  }
  @media (max-width:950px){
    footer .content .box{
      width: 50%;
    }
    .content .right{
      margin-top: 40px;
    }
  }
  @media (max-width:560px){
    footer{
      position: relative;
    }
    footer .content .box{
      width: 100%;
      margin-top: 30px;
    }
    footer .content .middle{
      padding-left: 0;
    }
  }
  retika.26264@lpu.co.in